<header class="header">
  <a href="/" class="logo"
    ><img src="/images/logo.png" alt="" width="50" height="50"
  /></a>
  <nav class="header_nav">
    <button id="open-post-form" class="create-post-btn roboto-regular">
      <i class="fa-regular fa-paper-plane btn-icon"></i>Post
    </button>
  </nav>
</header>
