/* Main Post display - Start */

.post-display-container {
  display: flex;
  height: fit-content;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
  max-width: 100%;
  min-height: 95vh;
}

.displayed-post {
  width: 90%;
  height: fit-content;
  background-color: var(--secondary);
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
}

.displayed-post-top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.displayed-post-title {
  margin-bottom: 0.5rem;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: var(--fourth);
  text-decoration-thickness: 0.2rem;
}

.displayed-post-content {
  padding: 1rem;
  white-space: pre-wrap;
}
/* End */


@media screen and (min-width: 600px) {
  .displayed-post {
      width: 60%;
  }
}