<header class="header">
    <a href="/" class="logo"
    ><img src="/images/logo.png" alt="" width="50" height="50"
        /></a>
    <nav class="header_nav">
        <ul class="nav_list">
            <li class="nav_item">
                <a href="/post" class="nav_icon"></a
                >
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="30"
                        height="20"
                        viewBox="0 0 70 53"
                        fill="none"
                >
                    <path
                            d="M0 0V8.75L35 26.25L70 8.75V0H0ZM0 17.5V52.5H70V17.5L35 35L0 17.5Z"
                            fill="black"
                    />
                </svg>
            </li>
            <li class="nav_item">
                <a href="/login" class="nav_icon"></a
                >
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="30"
                        height="23"
                        viewBox="0 0 30 30"
                        fill="none"
                >
                    <path
                            d="M15 0C10.875 0 7.5 4.2 7.5 9.375C7.5 14.55 10.875 18.75 15 18.75C19.125 18.75 22.5 14.55 22.5 9.375C22.5 4.2 19.125 0 15 0ZM7.1625 18.75C3.1875 18.9375 0 22.2 0 26.25V30H30V26.25C30 22.2 26.85 18.9375 22.8375 18.75C20.8125 21.0375 18.0375 22.5 15 22.5C11.9625 22.5 9.1875 21.0375 7.1625 18.75Z"
                            fill="black"
                    />
                </svg>
            </li>
        </ul>
    </nav>
</header>
